*{
    padding: 0;
    margin: 0;
    display: block;
}

header{
    height: 20vh;
    width: 100vw;
    background-color: blueviolet;
}

section{
    height: 60vh;
    width: 100vw;
    background-color: chartreuse;
}

footer{
    height: 20vh;
    width: 100vw;
    background-color: coral;
}